body{
margin: 0;
padding: 0;
font-family: 'Roboto Slab', serif;
}
h1{
    font-size: 55px;
}
.name-highlight{
    color: #f78566;
}
h3{
    font-size: 21px;
}
.header-info{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.header-info img{
    width: 100%;
}
.header-section{
    background-image: url("images/top-banner.png");
    height: 500px;
    background-repeat: no-repeat;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(60deg, rgb(224, 211, 211), #f78566);
    color: white;
    font-weight: 700;
    padding: 10px 25px;
    border-radius: 5px;
}


/* about section */
    .about-section{
        margin-top: 100px;
        background-image: url("images/dream-bg.png");
        background-repeat: no-repeat;
        background-position: right;
    }
    .about-info{
        width: 40%;
        float: left;
        margin-left: 4%;
    }
    .about-info-right{
        width: 40%;
        float: left;
        margin-left: 5%;
        height: 400px;
        padding: 70px 0;
    }
    .about-info img{
        width: 100%;
    }
    h4{
        font-size: 21px;
        font-weight: 600;
    }
    .about-info-title{
        font-size: 45px;
    }
    p{
        color: #6d6969;
    }

/* about section */